:root {
  --white-01: #fff;
  --white-02: #f5f5f5;
  --white-03: #e4e4e4;
  --gray: #f9f8f8;
  --gray-01: #303030;
  --gray-02: #404040;
  --gray-05: #202020;
  --gray-06: #353535;
  --gray-03: #696969;
  --gray-04: #d9d9d9;
  --gray-07: #d3d3d3;
  --yellow-01: #ffff00;
  --green-01: #388e3c;
  --red-01: #d32f2f;
  --red-02: #d90439;
  --brown-01: #4e342e;
  --brown-02: #d7ccc8;
}
